.cyclePage {
    width: 100%;
    height: 100%;
}

.filterForm {
    display: flex;
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
    align-items: center;
}

.customerSelect {
    margin-right: 1%;
    width: 25vw;
}

.cycleSelect {
    margin-right: 5%;
    width: 10vw;
}

.formButton {
    display: flex;
    align-items: center;
}

.searchIcon {
    cursor: pointer;
}

.searchIconDisabled {
    cursor: not-allowed;
}

@media (max-width: 1440px) {
    .customerSelect {
        width: 40vw;
    }
    .cycleSelect {
        width: 15vw;
    }
}

@media (max-width: 1024px) {
    .customerSelect {
        width: 40vw;
    }
    .cycleSelect {
        width: 20vw;
    }
}

@media (max-width: 768px) {
    .customerSelect {
        width: 40vw;
    }
    .cycleSelect {
        width: 25vw;
    }
}

@media (max-width: 425px) {
    .filterForm {
        flex-direction: column;
        align-items: flex-start;
    }
    .customerSelect {
        width: 70vw;
        margin-bottom: 5%;
    }
    .cycleSelect {
        width: 50vw;
    }
}

@media (max-width: 320px) {
    .customerSelect {
        width: 70vw;
    }
}