@import '../src/assets/colors/colors.css';

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--dark-gray);
    color: white;
    overflow: hidden;
}

.page {
    display: flex;
    min-height: 100vh;
}

.menuSpace {
    height: 100vh;
}